<div xmlns="http://www.w3.org/1999/html">
    <div *ngIf="!requests" class="ui active medium text loader"></div>

    <div class="ui horizontal segments">

        <div class="ui segment">
            <form class="ui form search" [formGroup]="searchForm">
                <div class="fields">
                    <sm-loader [complete]="!formSubmited" class="inverted" text="Loading..."></sm-loader>
                    <sm-input [control]="searchForm.controls.surnameControl" class="left labeled"
                              placeholder="Вкажіть прізвище...">
                    </sm-input>
                    <sm-input [control]="searchForm.controls.idControl" class="left labeled"
                              placeholder="Вкажіть ідентифікатор...">
                    </sm-input>
                    <sm-input [control]="searchForm.controls.makerControl" class="left labeled"
                              placeholder="Вкажіть виробника...">
                    </sm-input>
                    <sm-input [control]="searchForm.controls.productControl" class="left labeled"
                              placeholder="Вкажіть модель...">
                    </sm-input>
                    <div class="field">
                        <sm-button (click)="submit()" [disabled]="!searchForm.valid" class="fluid right-button"
                                   id="search-form-button">Пошук
                        </sm-button>
                    </div>
                </div>

            </form>
        </div>

        <div class="ui center aligned segment">
            <i class="add circle big olive icon" (click) = createNewRequest()></i>
        </div>

        <new-request-modal #newRequestComponent></new-request-modal>

    </div>

    <div>
        <sm-list class="middle aligned animated divided">
            <sm-item *ngFor="let request of requests"
                     [header]="request.productDescription"
                     (click)="openRequest(request)"
                     style="cursor: pointer">
                {{request.status}}
            </sm-item>
        </sm-list>
    </div>
</div>