<div xmlns="http://www.w3.org/1999/html">
    <div *ngIf="!requests" class="ui active medium text loader"></div>
    <div>

        <form class="ui form search" [formGroup]="searchForm">
            <div class="fields">
                <sm-loader [complete]="!formSubmited" class="inverted" text="Loading..."></sm-loader>
                <div class="field">
                    <sm-input [control]="searchForm.controls.surnameControl" class="left labeled"
                               placeholder="Вкажіть прізвище..."> <!-- label="Прізвище" -->
                    </sm-input>
                </div>
                <div class="field">
                    <sm-input [control]="searchForm.controls.idControl" class="left labeled"
                               placeholder="Вкажіть ідентифікатор...">  <!-- label="Ідентифікатор" -->
                    </sm-input>
                </div>
                <div class="field">
                    <sm-input [control]="searchForm.controls.makerControl" class="left labeled"
                               placeholder="Вкажіть виробника...">  <!-- label="Прилад" -->
                    </sm-input>
                </div>
                <div class="field">
                    <sm-input [control]="searchForm.controls.productControl" class="left labeled"
                              placeholder="Вкажіть модель...">  <!-- label="Прилад" -->
                    </sm-input>
                </div>
                <div class="field">
                    <sm-button (click)="submit()" [disabled]="!searchForm.valid" class="primary right-button"
                               id="search-form-button">Пошук</sm-button>
                </div>
            </div>
        </form>
    </div>

    <div>
        <sm-list class="middle aligned animated divided">
            <sm-item *ngFor="let request of requests"
                     [header]="request.productDescription"
                     (click)="openRequest(request)"
                     style="cursor: pointer">
                {{request.status}}
            </sm-item>
        </sm-list>
    </div>
</div>