<!-- main app container -->
<div class="ui basic">
    <div class="ui center container">
        <div class="">
            <alert></alert>

            <app-menu></app-menu>

            <div class="ui main container" id="fixed-container">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- credits -->
<div class="ui center container">
    <div class="ui center aligned container" id="footer">
        <div class="ui vertical footer segment teal">
            <div>
                Сервіс центр 2017
            </div>
            <div>
                Ми в соціальних мережах
            </div>
        </div>
    </div>
</div>
