<!-- main app container -->
<div class="ui basic">
    <div class="ui center container">
        <div class="">
            <alert></alert>

            <app-menu></app-menu>

            <div class="ui main container" id="fixed-container">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- credits -->
<div class="ui center container">
    <div class="ui center aligned container" id="footer">
        <div class="ui vertical footer segment teal">
            <div class="footer-name">
                © Сервіс центр 2017
            </div>
            <div>
                Ми в соціальних мережах
                <sm-button class="facebook" icon="facebook"></sm-button>
                <sm-button class="twitter" icon="twitter"></sm-button>
                <sm-button class="google plus" icon="google plus"></sm-button>
                <sm-button class="instagram" icon="instagram"></sm-button>
            </div>
        </div>
    </div>
</div>
