<div>
   <div *ngIf="!request" class="ui active medium text loader"></div>
   <div *ngIf="request">
      123
      request id: {{request.id}}

      <div class="ui small images">
         <img *ngFor="let image of request?.images" class="ui small image"
              [src]="'data:image/jpg;base64,' + image.content"
              (click)="showModal(image)"/>
      </div>

      <sm-modal title="Hello from Modal" class="" icon="home" #bigImageModal>
         <modal-content>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            <img class="ui centered huge image"
                 *ngIf="selectedImage" [src]="'data:image/jpg;base64,' + selectedImage.content"/>
         </modal-content>
         <modal-actions>
            <div class="ui buttons">
               <div class="ui button primary" (click)="bigImageModal.hide()">Close modal</div>
            </div>
         </modal-actions>
      </sm-modal>

   </div>

</div>