<div>
   <div *ngIf="!request" class="ui active medium text loader"></div>
   <div *ngIf="request">
      <div class="ui teal tag label">request id: {{request.id}}</div>

      <div class="ui olive segment">
         <p>Замовник: {{request.client}}</p>
         <p>Ціна: {{request.price}}</p>
      </div>

      <div class="ui hidden divider"></div>
      <works-table></works-table>
      <div class="ui divider"></div>
      <components-table></components-table>

      <div class="ui small grey header">Фото процесу</div>
      <div *ngIf="request.images?.length > 0" class="ui attached message">
         <div class="ui small images">
            <img *ngFor="let image of request?.images" class="ui small rounded image"
                 [src]="'data:image/jpg;base64,' + image.content"
                 (click)="showModal(image)"/>
         </div>
      </div>

      <sm-modal class="" icon="settings" #bigImageModal>
         <modal-content>
            <div class="ui attached message">
            {{selectedImage?.description + '.'}} {{selectedImage?.created}}
            </div>
            <div class="ui segment">
               <img class="ui centered big image"
                    *ngIf="selectedImage" [src]="'data:image/jpg;base64,' + selectedImage.content"/>
            </div>
         </modal-content>
         <modal-actions>
            <div class="ui buttons">
               <div class="ui button primary" (click)="bigImageModal.hide()">Close</div>
            </div>
         </modal-actions>
      </sm-modal>

   </div>

</div>