<div xmlns="http://www.w3.org/1999/html">

    <sm-modal class="" #newWorkModal>
        <modal-content>
            <form class="ui form" [formGroup]="newWorkForm">

                <sm-input label="Description" [control]="newWorkForm.controls.description" placeholder="Enter description...">
                </sm-input>
                <sm-input label="Type" [control]="newWorkForm.controls.price" placeholder="Enter price...">
                </sm-input>

                <div class="ui fluid search selection dropdown status">
                    <label>Status</label>
                    <input #statusInput type="hidden" formControlName="status" (change)="newWorkForm.controls.status.setValue(statusInput.value)">
                    <i class="dropdown icon"></i>
                    <div class="default text">Select status</div>
                    <div class="menu">
                        <div class="item" data-value="CREATED">CREATED</div>
                        <div class="item" data-value="STARTED">STARTED</div>
                        <div class="item" data-value="DONE">DONE</div>
                        <div class="item" data-value="CANCELLED">CANCELLED</div>
                        <div class="item" data-value="WAITED_FOR_COMPONENTS">WAITED_FOR_COMPONENTS</div>
                    </div>
                </div>

                <div class="ui fluid search selection dropdown master">
                    <label>Master</label>
                    <input #masterInput type="hidden" formControlName="master" (change)="newWorkForm.controls.master.setValue(masterInput.value)">
                    <i class="dropdown icon"></i>
                    <div class="default text">Select master</div>
                    <div class="menu">
                        <div class="item" data-value="13">first_name13</div>
                        <div class="item" data-value="14">first_name14</div>
                        <div class="item" data-value="15">first_name15</div>
                    </div>
                </div>
                <sm-button (click)="save()" [disabled]="!newWorkForm.valid" class="ui basic button">Зберегти</sm-button>
            </form>

        </modal-content>
        <!-- <modal-actions>
             <div class="ui buttons">
                 <div class="ui button primary" (click)="modal.hide()">Close</div>
             </div>
         </modal-actions>-->
    </sm-modal>

</div>