<div class="col-md-6 col-md-offset-3">
    <h4 class="ui header">Про нас</h4>
    <div class="ui segment">
        <p>Сервісний центр, для зручності клієнтів знаходиться в центральній частині міста і
            надає сервісне обслуговування підвищеного рівня комфорту всього спектру техніки будь-якої складності.</p>

        <p>Сервісний центр надає можливість замовити та придбати оригінальні комплектуючі та аксесуари для вашої
            техніки.</p>
        <p>Всі інженери сервісного центру высококвалифіковані спеціалісти з великим досвідом роботи.</p>
        <p>Устаткування сервісного центру, дозволяє робити ремонт і діагностику будь-якої складності.</p>
        <p>Ми надаємо гарантію на всі виконані роботи. Ви можете бути впевнені, що отримаєте швидке, надійне і якісне
            обслуговування за розумною ціною.</p>
    </div>

    <h4 class="ui header">Контакти</h4>
    <div class="ui segment">
        <p>Сервісний Центр в Україні</p>

        <p>Україна, м. Київ, вул. Київcька 77</p>
        <p>(044) 777-77-77</p>
        <p>0 (800) 77-77-77</p>
        <p>e-mail: service-center@mi.ua</p>
        <p>пн-пт: 09-00 до 19-30</p>
        <p>сб: 10-00 до 17-00</p>
        <p>нд: вихідний</p>
    </div>

</div>