<div class="ui one column stackable center page grid">
    <div class="column eight wide">
        <h2>Login</h2>
        <form class="ui form" [formGroup]="loginForm">
            <sm-loader [complete]="!formSubmitted" class="inverted" text="Loading..."></sm-loader>
            <div class="field">
                <sm-input label="E-mail" [control]="loginForm.controls.emailControl" placeholder="Enter e-mail..."></sm-input>
                <div *ngIf="loginForm.controls.emailControl.hasError('pattern')" class="help-block">Not a valid email
                </div>
            </div>
            <div class="field">
                <sm-input label="Password" type="password" [control]="loginForm.controls.passwordControl"
                          placeholder=""></sm-input>
                <div *ngIf="loginForm.controls.passwordControl.hasError('minlength')" class="help-block">Length should
                    be more than 8
                </div>
            </div>
            <div class="field">
                <sm-checkbox label="I agree to the Terms and Conditions"
                             [control]="loginForm.controls.agreeControl"></sm-checkbox>
            </div>
            <sm-button (click)="login()" [disabled]="!loginForm.valid" class="ui basic button">Login</sm-button>
        </form>
    </div>
</div>
