<!--<div *ngIf="isAuthenticated()" class="ui stackable container menu" id="menu">

    <a [routerLink]="['/home']" class="btn item">Home</a>

    <a *ngIf="hasRole('ROLE_ADMIN')" [routerLink]="['/requests']" class="btn item">Requests</a>

    <a [routerLink]="['/employees']" class="btn item">Our Employees</a>

    <a [routerLink]="['/about']" class="btn item">About</a>

</div>-->

<sm-menu *ngIf="isAuthenticated()" icon="Settings" logo="/images/logo.png"
         class="ui stackable container menu" id="menu">
    <!-- class="inverted teal" <a sm-item *ngFor="let item of items" [icon]="item.icon">{{item?.title}}</a>-->

    <a sm-item [routerLink]="['/home']" [ngClass]="{'active': isActive('home')}"
       (click)="setActive('home')">Home1</a>
    <a sm-item [routerLink]="['/requests']" *ngIf="hasRole('ROLE_ADMIN')" [ngClass]="{'active': isActive('requests')}"
       (click)="setActive('requests')">Requests</a>
    <a sm-item [routerLink]="['/employees']" [ngClass]="{'active': isActive('employees')}">Our Employees</a>
    <a sm-item [routerLink]="['/about']" [ngClass]="{'active': isActive('about')}">About</a>
</sm-menu>

