<div>

    <div class="ui link cards">

        <div class="ui card">
            <div class="image">
                <img src="/images/avatar/kristy.png">
            </div>
            <div class="content">
                <a class="header">Христя</a>
                <div class="meta">
                    <span class="date">Працює з 2013</span>
                </div>
                <div class="description">
                    Адміністратор
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="user icon"></i>
                    Найтепліша персона на виробництві
                </a>
            </div>
        </div>

        <div class="ui card">
            <div class="image">
                <img src="/images/avatar/molly.png">
            </div>
            <div class="content">
                <a class="header">Моллі</a>
                <div class="meta">
                    <span class="date">Працює з 2014</span>
                </div>
                <div class="description">
                    Директор
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="user icon"></i>
                    Всевидюче око
                </a>
            </div>
        </div>

        <div class="ui card">
            <div class="image">
                <img src="/images/avatar/matthew.png">
            </div>
            <div class="content">
                <a class="header">Мет</a>
                <div class="meta">
                    <span class="date">Працює з 2012</span>
                </div>
                <div class="description">
                    Майстер
                </div>
            </div>

            <div class="extra content">
                <a>
                    <i class="user icon"></i>
                    Золоті руки
                </a>
            </div>
        </div>

    </div>
    <div class="ui link cards">
        <div class="ui card">
            <div class="image">
                <img src="/images/avatar/elyse.png">
            </div>
            <div class="content">
                <a class="header">Еліс</a>
                <div class="meta">
                    <span class="date">Працює з 2014</span>
                </div>
                <div class="description">
                    Молодший помічник майстра
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="user icon"></i>
                    Найкреативніший помічник на світі
                </a>
            </div>
        </div>
    </div>
</div>